<!doctype html> 
<html lang="<%= currentLanguage %>"> 
    <head> 
        <title>express-gettext example</title>
    </head>

    <body>
        <div id="wrapper">
            <nav>
                <ul>
                    <li><a href="?language=de-de">German</a></li>
                    <li><a href="?language=en">English</a></li>
                </ul>        
            </nav>

            <article>
                <header>
                    <hgroup>
                        <h1><%= gettext('Welcome to the underground') %></h1>
                        <h2><%= gettext('Lets get the party started') %></h2>
                    </hgroup>
                </header>
            </article>
        </div>

    </body>
</html>